<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Playa Linda</title>
    <link rel="stylesheet" href="~/Content/Bootstrap.css">
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<body>
    <!-- Menu -->
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Hotel Playa Linda</h3>
            </div>
            <ul class="list-unstyled">
                <li>
                    @Html.ActionLink("Inicio", "Inicio", "Basic")
                </li>
                <li>
                    @Html.ActionLink("Sobre Nosotros", "Nosotros", "Basic")
                </li>
                <li>
                    @Html.ActionLink("Facilidades", "Facilidades", "Basic")
                </li>
                <li>
                    @Html.ActionLink("Cómo llegar", "Llegar", "Basic")
                </li>
                <li>
                    @Html.ActionLink("Tarifas", "Tarifas", "Basic")
                </li>
                <li>
                    @Html.ActionLink("Hace reservación", "Reservar", "Basic")
                </li>
                <li>
                    @Html.ActionLink("Contáctenos", "Contacto", "Basic")
                </li>
            </ul>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hotel Playa Linda</p>
        </footer>
    </div>

    <script src="~/Scripts/JQuery.js"></script>
    <script src="~/Scripts/Popper.js"></script>
    <script src="~/Scripts/Bootstrap.js"></script>
</body>
</html>
