@model IEnumerable<ENTIDAD.Itinerario>

<div class="container">
    <strong>
        <font style="text-transform: uppercase;">
            <hr style="color: #47748b; ">
            <center style="background-color:bisque">
                <img src="~/Content/img/calendario.svg" width="40" height="40" /> Itinerario Semanal
            </center>
            <hr style="color: #47748b; ">
        </font>
    </strong>

 
    <div class="row">

        @foreach (var dato in Model)
        {

            <div class="card" style="width: 18rem;">
                <p class="card-text">
                    <font style="text-transform: uppercase;">
                        <center>
                            <center>    <img src="~/Content/img/isla.png" />Día: @dato.dia </center>
                        </center>
                    </font>
                </p>
                <hr style="border-top: 1px solid black;">
                <img src="@dato.imgUrlDesayuno" class="card-img-top" width="80" height="80" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Desayuno</h5>
                    <p class="card-text">@dato.desayuno</p>
                    <hr style="border-top: 1px solid black;">
                </div>
                <hr style="border-top: 5px solid black;">
            </div>


            <hr style="border-top: 5px solid black;">

            <div class="card text-center" style="width: 18rem;">
                <p class="card-text">
                    <font style="text-transform: uppercase;">
                        <center>    <img src="~/Content/img/isla.png" />Día: @dato.dia </center>
                    </font>
                </p>
                <hr style="border-top:1px solid black;">
                <img src="@dato.imgUrlAlmuerzo" class="card-img-top" width="80" height="80" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almuerzo</h5>
                    <p class="card-text">@dato.almuerzo</p>
                    <hr style="border-top: 1px solid black;">
                </div>
                <hr style="border-top: 5px solid black;">
            </div>


            <hr style="border-top: 5px solid black;">


            <div class="card text-right" style="width: 18rem;">
                <p class="card-text">
                    <font style="text-transform: uppercase;">
                        <center>    <img src="~/Content/img/isla.png" />Día: @dato.dia </center>
                    </font>
                </p>
                <hr style="border-top: 1px solid black;">
                <img src="@dato.imgUrlCena" class="card-img-top" width="80" height="80" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cena</h5>
                    <p class="card-text">@dato.cena</p>
                    <hr style="border-top: 1px solid black;">
                </div>
                <hr style="border-top: 5px solid black;">

            </div>

        }


    </div>



</div>



